@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 240 6% 93%;
    --foreground: 0 0% 0%;
    --card: 240 6% 93%;
    --card-foreground: 0 0% 0%;
    --popover: 240 6% 93%;
    --popover-foreground: 0 0% 0%;
    --primary: 200 65% 43%;
    --primary-foreground: 0 0% 0%;
    --secondary: 240 6% 87%;
    --secondary-foreground: 0 0% 0%;
    --muted: 240 6% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 215 44% 86%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 0%;
    --border: 240 6% 20%;
    --input: 240 6% 20%;
    --ring: 215 44% 40%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 6% 7%;
    --foreground: 0 0% 100%;
    --card: 240 6% 7%;
    --card-foreground: 0 0% 100%;
    --popover: 240 6% 7%;
    --popover-foreground: 0 0% 100%;
    --primary: 200 65% 57%;
    --primary-foreground: 240 6% 7%;
    --secondary: 240 6% 13%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 6% 80%;
    --muted-foreground: 0 0% 100%;
    --accent: 215 44% 14%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 10%;
    --border: 240 6% 60%;
    --input: 240 6% 80%;
    --ring: 215 44% 60%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}